<nav class="shadow-sm">
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a [routerLink]="['/market']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Marketplace</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">About Bazaar</a>
  
  <a *ngIf="!isAuthenticated" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Log in</a>
  <a *ngIf="isAuthenticated" (click)="logout()">Log out</a>
  
  <i class="fa fa-user pull-right pointer"></i>
  <i class="fa fa-heart pull-right pointer"></i>
  <i class="fa fa-bell pull-right pointer"></i>
  
</nav>
<nav class="nav-secondary"></nav>
<!--<div class="ruler gradient"></div>-->
