<div class="bazaar-card" [ngClass]="{'loading': !loaded, 'pointer': !expanded, 'expanded': expanded, 'container': expanded}" (click)="expand()">
  
  <div *ngIf="!loaded" class="bazaar-spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="body" *ngIf="loaded && action !== 'create'">    
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
  </div>

  <div class="body" *ngIf="loaded && action === 'create'">    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <label for="email">Title</label>
        <input type="text" placeholder="What should we call this thing?" formControlName="title">
      </p>
      <p>
        <label for="email">Description</label>
        <textarea placeholder="Tell us a little something about it." formControlName="description"></textarea>
      </p>
      <p>
        <label for="email">Estimated Value (USD)</label>
        <input type="number" formControlName="ecv">
      </p>
      <p>
        <button type="submit" class="long">ADD ITEM</button>
      </p>
    </form>
  </div>
</div>
