/* Reset */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */

* {
  box-sizing: border-box;
}

/* Base styles */

html, 
body {
  background-color: #f3f3f3;
}

/* Branding */

.logo {
  text-shadow: 3px 3px 0 #fff;
  font-family: 'Bangers', cursive;
}

/* Fonts */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
a, 
li {
  color: #000;
  /*font-family: 'Open Sans', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

/* Links */

a {
  color: #000;
  transition: none;
}

a:hover,
a.router-link-active {
  /*border-color: #fff;
  box-shadow: 5px 0 0 #fff;*/
}

/* Container */

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.jumbotron {
  height: 332px;
}

.jumbotron p {
  font-size: 1em;
  width: 100%;
  max-width: 400px;
}

.container.skinny {
  display: block;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* Grid */

.bazaar-grid {
  display: inline-block;
  width: 25%;
  border: 5px solid #f3f3f3;
}

.bazaar-grid.promoted {
  width: 50%;
}

/* Cards */

.bazaar-card {
  position: relative;
  height: 280px;
  padding: 20px;
  background: #000;
  /*border: 1px solid #f1c40f;*/
  box-shadow: 0px 0px 0px #fff;
  transition: all 200ms;
}

.bazaar-card:not(.expanded):hover,
.bazaar-card:not(.expanded):active,
.bazaar-card:not(.expanded):focus {
  box-shadow: 5px 5px 0px #f1c40f;
}

.bazaar-card.loading {
  background: #ddd;
  border: none;
  color: #eee;
}

.bazaar-card.expanded {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
}

.promoted .bazaar-card .body {
  position: absolute;
  top: 40%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%,  rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0, 0.65) 50%, rgba(0,0,0,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  color: #fff;
}

.promoted .bazaar-card .body h2 {
  margin: 0 0 10px;
  padding-top: 0;
  font-weight: 700;
}

.bazaar-card:not(.expanded) h2, p, li {
  color: #fff;
}

/* Loading indicator */

.bazaar-spinner {
  margin: 137px auto 0;
  width: 70px;
  text-align: center;
}

.bazaar-spinner > div {
  width: 6px;
  height: 6px;
  background-color: #000;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay .7s infinite ease-in-out both;
  animation: sk-bouncedelay .7s infinite ease-in-out both;
}

.bazaar-spinner .bounce1 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.bazaar-spinner .bounce2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Buttons */

button {
  /*background-color: transparent;
  border-radius: 0;
  border-width: 3px;
  border-style: solid;
  border-color: #ec2490;
  color: #ec2490;
  line-height: normal;
  padding: 8px 18px;*/
  background-color: #000;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  padding: 10px 20px;
  margin-bottom: 6px;
}

button:hover, 
button:active,
button:focus {
  /*background-color: #fff;
  color: #7b4397;
  border-color: #7b4397;*/
  background-color: #000;
  color: #fff;
  box-shadow: 6px 6px #fff;
  margin-bottom: 0;
}

button.long {
  width: 100%;
  text-align: center;
}

/* Colors */

.blue {
  color: #3498db;
}

.red {
  color: #ec2490;
}

.purple {
  color: #7b4397;
}

.yellow {
  color: #f1c40f;
}

div.yellow {
  background-color: #f1c40f;
}

/* Gradients */

.gradient {
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7b4397 , #ec2490); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7b4397 , #ec2490); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Shadows */

.shadow-lg {
  box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.shadow-sm {
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.shadow-inset-lg {
  box-shadow: 0 6px 8px rgba(0,0,0,0.2) inset;
}

.shadow-inset-sm {
  box-shadow: 0 3px 4px rgba(0,0,0,0.2) inset;
}


/* Rulers */

.ruler {
  display: block;
  height: 3px;
  margin: 0 0 5px;
}

/* Position */

.centered {
  display: block;
  margin: 0 auto;
}

h1.centered,
h2.centered,
h3.centered,
h4.centered,
h5.centered,
h6.centered,
p.centered {
  text-align: center;
}

/* Helpers */

.pointer {
  cursor: pointer;
}

/* Media Queries */


/* Mobile */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    
}

/* Everything else */

/* Kinda small */
@media (min-width: 0px) 
  and (max-width: 920px) {
    .bazaar-grid,
    .bazaar-grid.promoted {
      width: 100%;
    }
}