/* Reset */

html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */

* {
  box-sizing: border-box;
}

/* Base styles */

html, 
body {
  background-color: #f3f3f3;
}

/* Branding */

.logo {
  text-shadow: 3px 3px 0 #fff;
  font-family: 'Bangers', cursive;
}

/* Fonts */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
a, 
li {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */

a {
  color: #000;
  transition: border 300ms;
  padding: 5px 0;
  border-bottom: 5px solid transparent;
}

a:hover,
a.router-link-active {
  border-color: #000;
}

/* Container */

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.jumbotron {
  height: 332px;
}

.jumbotron p {
  font-size: 1em;
  width: 100%;
  max-width: 400px;
}

.container.skinny {
  display: block;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* Grid */

.bazaar-grid {
  display: inline-block;
  width: 25%;
  border: 5px solid #f3f3f3;
}

.bazaar-grid.promoted {
  width: 50%;
}

/* Cards */

.bazaar-card {
  height: 280px;
  padding: 10px;
  background: #fff;
  transition: opacity 500ms;
}

.bazaar-card.loading {
  opacity: 0.65;
}

.bazaar-card.expanded {
  height: 100%;
  width: 100%;
  background: transparent;
}

/* Buttons */

button {
  /*background-color: transparent;
  border-radius: 0;
  border-width: 3px;
  border-style: solid;
  border-color: #ec2490;
  color: #ec2490;
  line-height: normal;
  padding: 8px 18px;*/
  background-color: #000;
  color: #fff;
  font-weight: 700;
  line-height: normal;
  padding: 10px 20px;
  margin-bottom: 6px;
}

button:hover, 
button:active,
button:focus {
  /*background-color: #fff;
  color: #7b4397;
  border-color: #7b4397;*/
  background-color: #000;
  color: #fff;
  box-shadow: 6px 6px #fff;
  margin-bottom: 0;
}

button.long {
  width: 100%;
  text-align: center;
}

/* Colors */

.blue {
  color: #3498db;
}

.red {
  color: #ec2490;
}

.purple {
  color: #7b4397;
}

.yellow {
  color: #f1c40f;
}

div.yellow {
  background-color: #f1c40f;
}

/* Gradients */

.gradient {
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7b4397 , #ec2490); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7b4397 , #ec2490); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Shadows */

.shadow-lg {
  box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

.shadow-sm {
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.shadow-inset-lg {
  box-shadow: 0 6px 8px rgba(0,0,0,0.2) inset;
}

.shadow-inset-sm {
  box-shadow: 0 3px 4px rgba(0,0,0,0.2) inset;
}


/* Rulers */

.ruler {
  display: block;
  height: 3px;
  margin: 0 0 5px;
}

/* Position */

.centered {
  display: block;
  margin: 0 auto;
}

h1.centered,
h2.centered,
h3.centered,
h4.centered,
h5.centered,
h6.centered,
p.centered {
  text-align: center;
}

/* Helpers */

.pointer {
  cursor: pointer;
}

/* Media Queries */


/* Mobile */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
    
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    
}

/* Everything else */

/* Kinda small */
@media (min-width: 0px) 
  and (max-width: 920px) {
    .bazaar-grid,
    .bazaar-grid.promoted {
      width: 100%;
    }
}