:host {
  background-color: #f1c40f;
  color: #000;
  display: block;
  padding: 0 16px;
  overflow: hidden;
  border-top: 4px solid #000;
}

:host > *:not(.jumbotron) {
  height: 72px;
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 56px;
}

.title {
  display: inline;
  letter-spacing: 0.1px;
  line-height: 72px;
  font-size: 36px;
}

.more {
  background: url("./assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 12px;
  width: 24px;
}
